.header-container {
  width: 100%;
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5.8rem;
}

.header__list {
  display: flex;
  gap: 3.3rem;
  justify-content: flex-end;
  padding-top: 2.7rem;
  padding-bottom: 2.7rem;
  margin-bottom: 14rem;
}
.header__list-item {
  font-size: 2rem;
  color: #000000;
  line-height: 1.4;
  font-weight: 500;
}
