@import url("../../css/global.css");

.main-title {
  font-size: 6.4rem;
}
.featured-works__info a {
  font-family: "Heebo";
  margin-bottom: 1.6rem;
}

.featured-works__info time {
  font-family: "Heebo";
  height: 2.1rem;
  font-size: 2rem;
  padding-right: 2.6rem;
  border-right: 2px solid #000000aa;
  margin-right: 2.6rem;
}
.featured-works__info span {
  font-family: "Heebo";
  font-size: 2rem;
  color: #8695a4;
  margin-bottom: 1.1rem;
}
.featured-works__info p {
  font-family: "Heebo";
  width: 68.2rem;
}
